<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
  <div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">  
    

  <div class="container">
      <div class="row">
          <div class="span12">
                <div class="slider-text">
                    
                </div>
            </div>
        </div>
    </div>   
  
  <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
          <a id="goUp" href="#home-slider" title="Chakra | Responsive One Page Template">Chakra Template</a>
        </div>
        
        <nav id="menu">
          <ul id="menu-nav">
              <li class="current"><a href="#home-slider">首页</a></li>
                <li><a href="#work">我们的产品</a></li>
                <li><a href="#about">品牌介绍</a></li>
                <li><a href="#services">服务</a></li>
                <li><a href="/arts" class="external">技术</a></li>
                <li><a href="/mengs" class="external">加盟</a></li>
                <li><a href="#contact">预约</a></li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->
<!-- Big Blockquote -->
<div class="big-quote page">
    <div class="container">
      <%=raw @meet.content%>
    </div>
</div>
<!-- End Big Blockquote -->
<!-- Our Work Section -->
<div id="work" class="page">
  <div class="container">
      <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">我们的产品</h2>
                </div>    
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
              <!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                      <li class="type-work">产品分类</li>
                        <li><a href="#filter" data-option-value="*" class="selected">最新产品</a></li>

                        <li><a href="#filter" data-option-value=".design">人像</a></li>
                        <li><a href="#filter" data-option-value=".illustration">静物</a></li>
                        <li><a href="#filter" data-option-value=".photography">卡通</a></li>
                        <li><a href="#filter" data-option-value=".video">婚庆</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span12">
              <div class="row">
                  <section id="projects">
                      <ul id="thumbs">
                        <% @product.each do |p| %>
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                
                                  <%=link_to raw('<span class="overlay-img"></span><span class="overlay-img-thumb font-icon-search"></span>'),p.avatar.url,class: "hover-wrap fancybox", :'data-fancybox-group' => "gallery", :title => p.title %>
                                    
                                                               <!-- Thumb Image and Description -->
                                <%= image_tag p.avatar.url, :alt => p.content %>
                            </li>
                          <!-- End Item Project -->
                        <% end %>    
              <!-- Item Project and Filter Name -->
                         <% @productq.each do |p| %>
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 illustration">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                
                                  <%=link_to raw('<span class="overlay-img"></span><span class="overlay-img-thumb font-icon-search"></span>'),p.avatar.url,class: "hover-wrap fancybox", :'data-fancybox-group' => "gallery", :title => p.title %>
                                    
                                                               <!-- Thumb Image and Description -->
                                <%= image_tag p.avatar.url, :alt => p.content %>
                            </li>
                          <!-- End Item Project -->
                        <% end %>  
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                        <% @productw.each do |p| %>
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                
                                  <%=link_to raw('<span class="overlay-img"></span><span class="overlay-img-thumb font-icon-search"></span>'),p.avatar.url,class: "hover-wrap fancybox", :'data-fancybox-group' => "gallery", :title => p.title %>
                                    
                                                               <!-- Thumb Image and Description -->
                                <%= image_tag p.avatar.url, :alt => p.content %>
                            </li>
                          <!-- End Item Project -->
                        <% end %>  
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                      <% @producte.each do |p| %>
                          <li class="item-thumbs span3 video">
                              <!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                             
                                  <%=link_to raw('<span class="overlay-img"></span><span class="overlay-img-thumb font-icon-search"></span>'),p.avatar.url,class: "hover-wrap fancybox", :'data-fancybox-group' => "gallery", :title => p.title %>
                                    
                                                               <!-- Thumb Image and Description -->
                                <%= image_tag p.avatar.url, :alt => p.content %>
                            </li>
                          <!-- End Item Project -->
                          <% end %>    
                        </ul>
                    </section>
                    
              </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
  <%=raw @brand.content%>
</div>
</div>
<!-- End About Section -->



<!-- Services Section -->
<div id="services" class="page-alternate">
  <div class="container">
    <%=raw @service.content %> 
  </div>
</div>
<!-- End Services Section -->

<!-- Google Map -->
<div id="map-area">
    <%= render "map"%>
</div>
<!-- End Google Map -->

<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">预约</h2>
               
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Contact Form -->
    <div class="row">
      <div class="span9">
          <%= form_for @yuyue do |f| %>
            <%= f.label :name ,"姓名" %>
            <%= f.text_field :name %>
            <%= f.label :email, "E-mail" %>
            <%= f.text_field :email %>
            <%= f.label :qq, "QQ" %>
            <%= f.text_field :qq %>
            <%= f.label :phone, "联系电话" %>
            <%= f.text_field :phone %>
            <p>产品分类</p>
            <%= f.select :type_id, Type.all.map { |c| [c.name, c.id] }%>
            <%= f.label :bei, "备注" %>
            <%= f.text_area :bei, class: "span9"%>
            <%= f.submit "提交", class: "btn btn-warning"%>
          <% end %>
        </div>
        
        <div class="span3">
          <div class="contact-details">
            <h3>联系我们</h3>
                <ul>
                    <li>邮箱：378480605@qq.com</li>
                    <li>联系电话：13810978592</li>
                    <li>
                        联系人：宁晓鹏
                        </li>
                        <li>
                        地址：北京市海淀区文慧园路6号三缔时代科技发展有限责任公司
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Services Form -->
</div>
</div>
<!-- End Contact Section -->


<!-- Footer -->
<footer>
  <p class="credits">&copy;2013 Chakra.北京三缔时代科技发展有限责任公司</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> <!-- Google Map API -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

