<%= render "layouts/top"%>
<div class="container-fluid" style="padding-top: 1%">
  <div class="row-fluid">
    <div class="span2">
      <%= render "layouts/left" %>
    </div>
    <div class="span10">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>姓名</th>
              <th>E-mail</th>
              <th>QQ</th>
              <th>联系电话</th>
              <th>预约</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @yuyue.each do |h| %>
              <tr>
                <td><%= h.name %></td>
                <td><%= h.email %></td>
                <td><%= h.qq %></td>
                <td><%= h.phone %></td>
                <td><%= Type.find(h.type_id).name %></td>
                <td><%= h.bei %></td>
                <td>
                  <%= link_to "删除", admin_yuyue_path(h), :method => :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>




