  <ul class="nav nav-list" >
    <li class="nav-header" style="font-size:20px">产品管理</li>
    <li><%= link_to "查看产品分类", admin_types_path, style: "font-size: 15px" %></li>
    <li><%= link_to "添加产品", new_admin_product_path, style: "font-size: 15px" %></li>
    <li><%= link_to "查看产品", admin_products_path, style: "font-size: 15px" %></li>
    <li class="nav-header" style="font-size:20px">预约管理</li>
    <li><%= link_to "查看预约", admin_yuyues_path, style: "font-size: 15px" %></li>
    <li class="nav-header" style="font-size:20px">最新活动管理</li>
    <li><%= link_to "发表最新活动", new_admin_meet_path, style: "font-size: 15px" %></li>
    <li><%= link_to "查看最新活动", admin_meets_path, style: "font-size: 15px" %></li>
    <li class="nav-header" style="font-size:20px">服务信息管理</li>
    <li><%= link_to "发表服务信息", new_admin_service_path, style: "font-size: 15px" %></li>
    <li><%= link_to "查看服务信息", admin_services_path, style: "font-size: 15px" %></li>
    <li class="nav-header" style="font-size:20px">品牌信息管理</li>
    <li><%= link_to "发表品牌信息", new_admin_brand_path, style: "font-size: 15px" %></li>
    <li><%= link_to "查看品牌信息", admin_brands_path, style: "font-size: 15px" %></li>
    <li class="nav-header" style="font-size:20px">技术信息管理</li>
    <li><%= link_to "发表技术信息", new_admin_art_path, style: "font-size: 15px" %></li>
    <li><%= link_to "查看技术信息", admin_arts_path, style: "font-size: 15px" %></li>
    <li class="nav-header" style="font-size:20px">技术信息管理</li>
    <li><%= link_to "发表加盟信息", new_admin_meng_path, style: "font-size: 15px" %></li>
    <li><%= link_to "查看加盟信息", admin_mengs_path, style: "font-size: 15px" %></li>
  </ul>
